{% extends 'account/detail_layout.html' %}

{% block tab-content %}
    <div class="wd-list wd-body">
            <div class="media wd-item">
                <div class="media-body">
                    <h4 class="user-name"><a href="/question/1/">我看到bootstrap已经更新到v3.3.4</a></h4>
                    <div class="opt">
                        <a href="" class="wd-user-name">root</a>
				        <span>回复了问题 • 3 人关注 • 2 个回复 • 72 次浏览 • 23 小时前</span>
                    </div>
                </div>
            </div>
            <div class="media wd-item">
                <div class="media-body">
                    <h4 class="user-name"><a href="/question/2/">我看到bootstrap已经更新到v3.3.4 ？111111</a></h4>
                    <div class="opt">
                        <a href="" class="wd-user-name">root</a>
				        <span>回复了问题 • 3 人关注 • 2 个回复 • 72 次浏览 • 23 小时前</span>
                    </div>
                </div>
            </div>
            <div class="media wd-item">
                <div class="media-body">
                    <h4 class="user-name"><a href="/question/3/">t1</a></h4>
                    <div class="opt">
                        <a href="" class="wd-user-name">root</a>
				        <span>回复了问题 • 3 人关注 • 2 个回复 • 72 次浏览 • 23 小时前</span>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}