.transition-all {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
}
.right-sidebar {
  padding-top: 0px;
  padding-left: 0px;
}
.right-sidebar .forum-con {
  border: none;
  margin-left: 15px;
}
.right-sidebar .forum-con li span {
  width: 100%;
  display: block;
  text-align: center;
}
.right-sidebar .forum-con li .text {
  font-size: 12px;
  color: #8c8c8c;
  line-height: normal;
  margin-bottom: 10px;
}
.right-sidebar .forum-con li .num {
  color: #5cb85c;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.forum_list .forum-li {
  position: relative;
}
.forum_list .forum-li.active {
  background-color: #fff;
  border-color: #e6e6e6;
  margin-left: 0px;
  padding-left: 15px;
}
.forum_list .forum-li.active > .forum_children {
  display: block;
  left: -230px;
}
.forum_list .list-group-item {
  border: none;
  border-radius: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0px;
  position: relative;
  margin-left: 15px;
  margin-top: -1px;
}
.forum_list .list-group-item a {
  text-decoration: none;
  color: #666;
}
.forum_list .list-group-item a:hover,
.forum_list .list-group-item a:active,
.forum_list .list-group-item a:focus {
  outline: 0;
  background-color: #fff;
  color: #5cb85c;
}
.forum_list .list-group-item a:hover i,
.forum_list .list-group-item a:active i,
.forum_list .list-group-item a:focus i {
  color: #5cb85c;
}
.forum_list .list-group-item .forum_children {
  background: #fff;
  display: none;
  width: 230px;
  position: absolute;
  left: -245px;
  top: -1px;
  border: 1px solid #e6e6e6;
}
.forum_list .list-group-item .forum_children .line {
  width: 1px;
  height: 39px;
  background: #fff;
  position: absolute;
  top: 1px;
  right: -1px;
  display: block;
}
.forum_list .list-group-item .forum_children ul {
  width: 100%;
  padding-left: 0;
}
.forum_list .list-group-item .forum_children li {
  list-style: none;
  text-align: center;
  border-top: 1px solid transparent;
  padding: 10px 15px;
}
.forum_list .list-group-item .forum_children li:nth-of-type(1) {
  border-top: none;
}
.forum_list .list-group-item .forum_children li:nth-of-type(2) {
  border-top: none;
}
@media (max-width: 768px) {
  .article-list .article-item {
    padding: 14px 0 14px 0px;
  }
}
.article-list .article-item .num span {
  line-height: 18px;
  text-align: center;
  background: #f4f4f4;
  color: #999;
  display: block;
  border-radius: 10px;
  padding: 4px 0;
}
.article-list .article-item .num span em {
  display: block;
  font-style: normal;
}
