.question-detail .question-title {
  position: relative;
}
.question-detail .question-title h2 {
  font-size: 20px;
}
.question-detail .question-title .operate {
  position: absolute;
  right: 15px;
  top: 15px;
}
.question-detail .post-tags {
  padding: 5px 0 5px;
  margin-bottom: 10px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
.question-detail .post-tags ul {
  margin-bottom: 0;
}
.question-detail .answer-head {
  border-color: #e6e6e6;
}
.question-detail .answer-head h3 {
  margin-bottom: 20px;
}
.question-detail .answer-head a {
  position: relative;
  margin-top: 20px;
}
.question-detail .answers .answer-item {
  word-break: break-all;
  position: relative;
  padding: 14px 0;
  border-bottom: 1px solid #F5F5F5;
}
.question-detail .answers .answer-item.active .more-opt {
  display: inline-block;
}
.question-detail .answers .answer-item .user-name {
  margin: 0 -15px 5px -15px;
  font-size: 12px;
  color: #666;
}
.question-detail .answers .answer-item .user-name a {
  color: #666;
}
.question-detail .answers .answer-item .media-left {
  min-width: 50px;
}
.question-detail .answers .answer-item .media-left img {
  width: 40px;
  height: 40px;
}
.sponsors dt,
.sponsors img {
  width: 32px;
  height: 32px;
}
.sponsors dd {
  margin-left: 10px;
  font-size: 12px;
  font-weight: normal;
}
.sponsors dd a {
  text-decoration: none;
}
.bootstrap-tagsinput {
  display: block;
}
.tag-dropdown {
  position: absolute;
  left: 0px;
  top: 100%;
  margin-top: 10px;
  border-radius: 4px;
  z-index: 9999;
  width: 100%;
  min-width: 110px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.tag-dropdown .tag-item {
  cursor: pointer;
  margin: 15px 15px 0 0;
  background: #F5FAFF;
  border: 1px solid #DCEDFA;
  border-radius: 5px;
  position: relative;
  padding: 20px 15px 20px 75px;
}
.tag-dropdown .tag-item .tag-img {
  position: absolute;
  top: 20px;
  left: 10px;
}
.tag-dropdown .tag-item h5 {
  margin: 0px 0px 5px;
}
.tag-dropdown .tag-item h5 a {
  padding: 3px 5px;
}
.tag-dropdown .tag-item p {
  color: #999;
}
.question-ask .related p {
  color: #999;
  padding: 0 10px;
}
.question-ask .related li a {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #DCDCDC;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
.question-ask .related li a:hover {
  background-color: #f5faff;
  color: #499ef3;
}
.question-ask .tags {
  display: block;
  padding: 4px 6px;
  margin-bottom: 10px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  position: relative;
}
.question-ask .tags .fa-spinner {
  position: absolute;
  right: 5px;
  top: 8px;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.question-ask .tags-hover {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.question-ask .tags input[type="text"] {
  height: 20px;
}
.question-ask .tags input[type="text"],
.question-ask .tags input[type="text"]:focus {
  border: none;
  display: inline;
  outline: 0;
  margin: 0;
  padding: 0;
  font-size: 11.844px;
  line-height: 14px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.question-ask .tag {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin: 2px 5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.question-ask .tag b {
  font-weight: normal;
  padding-left: 5px;
}
.question-ask .tag:empty {
  display: none;
}
.question-ask .tag-important {
  background-color: #953b39;
}
.question-ask .tag-warning {
  background-color: #c67605;
}
.question-ask .tag-success {
  background-color: #356635;
}
.question-ask .tag-info {
  background-color: #2d6987;
}
.question-ask .tag-inverse {
  background-color: #1a1a1a;
}
.question-ask .tag .close {
  font-size: 14px;
  line-height: 14px;
  margin-left: 7px;
}
